
<!DOCTYPE html>
<html lang="br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SAH – Sistema de Ajuste de Horas">
    <meta name="author" content="iDevs">
    <link rel="icon" href="../img/favicon/favicon.ico">

    <title>SAH - Ajuste de Horas</title>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/bootstrap-3.3.7-dist/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="../js/utils.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">SAH – Sistema de Ajuste de Horas</h3>
      </div>

        <div class="alert alert-success" role="alert">
          <strong>Usuário logado: </strong> user XYZ
          <strong>Perfil: </strong> perfil XYZ
        </div>

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Inserir</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Editar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Visualizar</a>
              </li>
            </ul>

      <div class="main_">
        <form>

          <div class="form-inline borderSet_">
            <div class="row paddingB_">
              <label class="col-md-3 label-control">Data</label>
              <input type="text" class="form-control validar" onkeypress="mascararCampo(this,'##/##/####')"
                data-mensagem="Preencha a data." maxlength="10">
  
              <label class="label-control">Justificativa</label>
              <select class="custom-select form-control">
                <option selected>Versionamento</option>
                <option selected>Capacitação</option>
              </select>
            </div>
            
            <div class="row">
              <label class="col-md-3 label-control">Hora entrada</label>
              <input type="text" class="form-control validar" onkeypress="mascararCampo(this,'##:##')" maxlength="5"
                data-mensagem="Preencha a hora de entrada.">
              <label class="label-control">Hora saída</label>
              <input type="text" class="form-control validar" onkeypress="mascararCampo(this,'##:##')" maxlength="5"
                data-mensagem="Preencha a hora de saída.">  
            </div>
            

            <button class="btn btn-success" type="button" onclick="validarFormulario()">Salvar</button>
          
          </div>


          <div class="customTable_">
            <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Data</th>
      <th>Entrada</th>
      <th>Saída</th>
      <th>Total horas</th>
      <th>Justificativa</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>21/02/2017</td>
      <td>08:30</td>
      <td>12:30</td>
      <td>4</td>  
      <td>Versionamento</td>
      <td>X</td>
    </tr>
    <tr>
      <td>21/02/2017</td>
      <td>08:30</td>
      <td>12:30</td>
      <td>4</td>
      <td>Versionamento</td>
      <td>X</td>
    </tr>
    <tr>
      <td>21/02/2017</td>
      <td>08:30</td>
      <td>12:30</td>
      <td>4</td>
      <td>Versionamento</td>
      <td>X</td>
    </tr>
  </tbody>
</table>
          </div>

          
        </form>

      </div>

      <footer class="footer">
        <p>&copy; 2017 iDevs.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
